.content {
  padding-top: 50px;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.input__wrap {
  width: 500px;
}

.list {
  width: 300px;
  padding-top: 50px;
}

.list__item[class] {
  display: flex;
}

.list__remove-icon {
  cursor: pointer;
}
